---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPostCard from '../../components/BlogPostCard.astro';
import Pagination from '../../components/Pagination.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const pageSize = 5;
    const allPosts = await getCollection('blog');
    const sortedPosts = allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
    const totalPages = Math.ceil(sortedPosts.length / pageSize);
    return Array.from({ length: totalPages }).map((_, i) => ({
    params: { page: (i + 1).toString() },
    }));
}

const pageSize = 5;
const { page } = Astro.params;
const pageNumber = parseInt(page) || 1;
const allPosts = await getCollection('blog');
const sortedPosts = allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
const paginatedPosts = sortedPosts.slice((pageNumber - 1) * pageSize, pageNumber * pageSize);

const pageTitle = "My blog";
const description = "Andre Collin's blog about software engineering, leadership, and agile methodologies."
---

<BaseLayout pageTitle={pageTitle} description={description} isblog="true">
<h1>{pageTitle}</h1>
<Pagination />
<ul>
    {paginatedPosts.map((post) => {
        return(
        <BlogPostCard postdata={post} postcardstyle="blog"  />
    );
      })}
</ul>
<Pagination />
</BaseLayout>