---
export const meta = {
  name: 'Danielle Bastien',
  picture: 'danielle.jpg',
  linkedin: 'https://www.linkedin.com/in/daniellemlbastien/',
  excerpt: "André's dedication to mentoring have made a significant impact on my professional growth",
  company: 'Postmedia and Ecobee',
  relationship: 'managed',
};

export const prerender = true;
---
<p>André has been a great mentor for me over the years. I first met André during our tenure at Postmedia, where we collaborated closely on AODA compliance and front-end architecture. With André's encouragement, I accepted a front-end technical lead position in the digital engineering department. André has continued to support me in my career, always generous with his time and helping me during moments when my confidence has wavered.</p>

<p>His unwavering encouragement and dedication to mentoring have made a significant impact on my professional growth. I believe André's leadership and supportive nature make him an excellent fit for a software manager position.</p>