---
export const meta = {
  name: 'Yann Avram',
  picture: 'yann.jpg',
  linkedin: 'https://www.linkedin.com/in/exploration/',
  excerpt: 'I appreciate his level off details in everything he is undertaking',
  company: 'Phoenix Geophysics',
  relationship: 'manager',
};
---


<p>
I have hired Andre's services for many projects lately: web design services and sales & marketing support tools mainly. </p>
<p>He is easy to communicate with and understands quickly your needs. I appreciate his level off details in everything he is undertaking. </p>
<p>Additionally , he has a very modern and sleek style which improve my branding . I can tell from the feedback I receive when I attend trade shows</p>

<p>He works well and fast, he is diligent and business orientated.
I highly recommend his services. 
</p>