---
export const meta = {
  name: 'Fraser Reed',
  picture: '/public/images/testimonials/fraser.jpg',
  linkedin: 'https://www.linkedin.com/in/fraserreed',
  excerpt: 'Andre was a champion in improving many of our agile processes as well as increasing our development and accessibility standards',
  company: 'Postmedia',
  relationship: 'peer' as const,
};

export const prerender = true;
---

<p>
  André and I worked together on many projects at Postmedia, as Software Development Managers. André's knowledge of the front-end is unparalleled - he has extensive experience in performance, best practices and accessibility as well as SEO and user experience. He has a proven track record of his technical management ability, hiring and mentoring a number of our most productive developers. 
  He was a champion in improving many of our agile processes as well as increasing our development and accessibility standards. 
  I greatly enjoyed my time working with André and hope to get the chance to again in the future.
</p>
