---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>What's this website about?</title>
	</head>
	<body>
		<header>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="/blog/">Blog</a></li>
		</ul>
		</header>
		<h1>This is version 196 of my Portfolio</h1>
        <p>I may sound like a boomer, but yeah. Sorry. I grew up before Internet exist. I saw it happen during Uni, and at this time mostly/only universities had access to it. And I was one of the first guy building websites. And I have white hair too.</p>
        <p>That is to say: it's yet another portfolio / personal website for me. This time, I used <a href="https://astro.build">Astro</a>.</p>
	</body>
</html>
