---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "What's this website about?";
---

<BaseLayout pageTitle={pageTitle}>
<h2>This is version 196 of my Portfolio</h2>
<p>I may sound like a boomer, but yeah. Sorry. I grew up before Internet exist. I saw it happen during my university studies, and at this time mostly/only universities had access to it. And I was one of the first guy building websites. And I have white hair too.</p>
<p>That is to say: it's yet another portfolio / personal website for me. This time, I used <a href="https://astro.build">Astro</a>. It's fun to use these frameworks. </p>
<p>A few weeks back, I started to write about my 5 core values as an engineering manager. I wrote that on Linkedin, with the goal to share my experience with junior managers, and also to try to attract a little attention on me to land a new job.</p>
<p>After that, I kept writing and writing, boosted by the confidence that I got from having a LLM going after me and correct my poor english of ESL (English as a second language).</p>
<p>If you're a recruiter, take a look at <a href="/AndreCollinResume2025.pdf" download="Andre-Collin_resume.pdf" >my resume</a> and email me with any interesting opportunity!</p>
</BaseLayout>