---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostCard from '../components/BlogPostCard.astro';

const pageTitle = "My blog";
const description = "Andre Collin's blog about software engineering, leadership, and agile methodologies."
const allPosts = await Astro.glob('./posts/*.md');
allPosts.sort((a, b) => new Date(b.frontmatter.pubDate) - new Date(a.frontmatter.pubDate));
---

<BaseLayout pageTitle={pageTitle} description={description} isblog="true">
<h1>{pageTitle}</h1>
<ul>
    {allPosts.map((post) => {
        return(
        <BlogPostCard postdata={post} />
    );
      })}
</ul>
</BaseLayout>