---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="Andre Collin - Portfolio / Blog";
const description = "Andre Collin's portfolio and blog about software engineering, leadership, and agile methodologies."
---
<BaseLayout pageTitle={pageTitle} description={description} isblog="false">
  <h1>{pageTitle}</h1>
  <p>I'm a software engineering manager and Agile coach/leader who has been building front-end interface and web applications for 25 years. </p>
  <p>I worked for the Ontario French educational TV channel TFO, led teams as a senior Front-end developer for The City of Toronto. I also had a chance to work for some of the biggest newspapers like the Globe and Mail, the National Post (and all the local and national newspapers owned by Postmedia Network). My passion for tech made me work for Phoenix Geophysics and more recently for Ecobee.</p>
  <p>You will find more info about me in <a href="/AndreCollinResume2025.pdf">my resume [PDF]</a>.</p>
  <p>I wrote a few articles about my 5 core values as engineering manager, and about a few topics related to leading a team of software engineers. You're welcome to <a href="/blog">take a look at my blog</a> and let me know what you think!</p>
  <p>And... YES! I am currently looking for a new challenge!</p>
</BaseLayout>