---
const navLinks = [
    {
        title:"Home",
        link:"/"
    },
    {
        title:"Blog",
        link:"/blog/1",
    },
    {
        title:"Resume [PDF]",
        link:"/AndreCollinResume2025.pdf"
    },
    // {
    //     title:"Working together",
    //     link:"/working-together"
    // },
]
---
<style>
ul{
    margin:0;
    padding:0;
    list-style: none;
    display:flex;
    gap:20px;
}
li{
    margin:0;
    padding:0;
}
a{
    background-color:var(--color-accent);
    color:var(--color-accent-light);
    text-decoration: none;
    display:inline-block;
    padding: 0 .5rem;
}
</style>
<nav>
    <ul>
        {navLinks.map(({ title, link }) => (
            <li><a href={link}>{title}</a></li>
        ))}
    </ul>
</nav>